
/* Style de base pour centrer le conteneur */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

/* Style de la carte de profil */
.profile-card {
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0.37vh 0.62vw rgba(0,0,0,0.1);
  padding:0.5em;
}

/* Mise en page des informations */
.profile-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-card p {
  font-size: 18px;
}


/* Bouton de connexion */
.button-submit{
    background: #6ea0d4; /* Bleu principal */
    color: #fff;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background 0.3s ease;
    margin-left: 4vw;
  }
  
  /* .button-submit {
    padding: 10px 15px;
    font-size: 16px;
} */

.button-submit:hover {
    background: #5e8fc0; /* Assombri au survol */
  }



/* Conteneur des boutons */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Table pour les boutons */
.button-container table {
  border-spacing: 1vw;
}

/* Style des boutons */
.action-button {
  width: 38vw;
  max-width: 300px;
  height : 8vh;
  font-size: 16px;
  font-weight: bold;
  color: rgb(46, 46, 46);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: 4px solid #dddddd;
  margin-bottom: 10px;
}

.action-button.success {
  border: 4px solid #6933ff;
  filter: brightness(60%);
  color: #4524a1;
} 

/* Différentes couleurs pour les boutons */
.absent-btn {
  background-color: #fdb9b9;
  margin-right: 10px;
}

.present-btn {
  background-color: #9ecf9f;
}

.absent-justifie-btn {
  background-color: #fdb9b9;
  margin-right: 10px;
}

.retard-btn {
  background-color: #9ecf9f;
}

/* Effet au survol */
.action-button:hover {
  opacity: 0.8;
}


/* Masquer toutes les slides par défaut */

/* Afficher uniquement la slide active */
.swiper-container {
  overflow:hidden;
}
/* On peut conserver la règle pour la diapositive active si besoin */
/* .swiper-slide-active {
  display: flex;
  flex-direction: row;

} */
.swiper-slide-next {
  opacity: 0.5;
}
.swiper-slide-prev {
  opacity: 0.5;
}

/* Si vous souhaitez absolument masquer le contenu interne des diapositives non actives,
assurez-vous que cela ne s'applique qu'aux diapositives non actives, par exemple :
*/
/* .swiper-slide:not(.swiper-slide-active) * {
  display: none;
} */





    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px;
    }
    


    .cours-container {
        text-align: center;
        width: 100%;
        max-width: 600px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .cours-stats {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 600px;
    }
    
    .stats {
        font-size: 18px;
    }
    
    .actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    

    


