

/* Style des boutons*/ 
.correction-button {
  background: none; 
  border: 4px solid #ffffff;; 
  cursor: pointer;

  font-size: clamp(10px, 8vw, 40px);

  width: 12vw;
  max-width: 75px;

  height: 12vw;
  max-height: 75px;

  margin: clamp(2px, 1vw, 10px);
  
  /* Alignement vertical et horizontal */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.nom {
  font-size: 2vw;
  max-width : 30vw;
}

.prenom {
  font-size: 4.3vw;
  max-width : 30vw;
  height: bold;
} 

.correction-button.success {
  border: 4px solid #6933ff;
  filter: brightness(60%);
} 



