/* ---------------------------
   RÉINITIALISATION DE BASE
--------------------------- */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   }


/* ---------------------------
   BODY
--------------------------- */

body {
   font-family: Arial, sans-serif;
   /* Fond en dégradé de bleu / gris */
   background: linear-gradient(135deg, #6ea0d4 0vw, #dce6ef 100vw);
   background-attachment: fixed;
   height: 100vh;
   /* width: 100vw; */
   /* max-width: 500px; */
   /* min-height: 100vh;
   max-width: 100vw;
   max-height: 100vh; */
   display: flex;
   justify-content: center;
   align-items: center;
   color: #333;
    /* overflow: clip; */
   }

p {
   margin-bottom: 1rem;
   }
   
/* ---------------------------
   TITRE
--------------------------- */
h1 {
   text-align: center;
   margin-bottom: 1.5rem;
   color: #05062b;
   font-weight: 400;
   }

/* ---------------------------
   TABLEAU
--------------------------- */

/* table {
   margin: 0;
}

table th {
   margin: 0;
}

table tr {
   margin: 0;
}

table td {
   margin: 0;
} */


/* ---------------------------
   FIELDSET
--------------------------- */

fieldset {
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 1rem;
   margin-bottom: 1rem;
   margin-top: 1rem;
   }

/* ---------------------------
   FORMULAIRE
--------------------------- */



/* ---------------------------
   CONTENEUR
--------------------------- */

/* Conteneur principal */
.container-1 {
   display: flex;
   flex-wrap: wrap; /* Permet de retourner à la ligne si nécessaire */
   justify-content: left; /* Centre les éléments horizontalement */
   align-items: center; /* Centre les éléments verticalement */
   gap: 15px; /* Espacement entre les éléments */

}

.container-2 {
   display: flex;
   flex-wrap: wrap; /* Permet de retourner à la ligne si nécessaire */
   min-width: 65px; /* Taille fixe pour la largeur */
}

.container-3 {
   display: flex;
   flex-wrap: wrap; /* Permet de retourner à la ligne si nécessaire */
   justify-content: center; /* Centre les éléments horizontalement */
   align-items: center; /* Centre les éléments verticalement */
   gap: 15px; /* Espacement entre les éléments */

}

.container-4 {
   display: flex;
   flex-wrap: wrap; /* Permet de retourner à la ligne si nécessaire */
   min-width: 160px; /* Taille fixe pour la largeur */
   justify-content: left; /* Centre les éléments horizontalement */
   align-items: center; /* Centre les éléments verticalement */
   gap: 15px; /* Espacement entre les éléments */
}