/* ---------------------------
   RÉINITIALISATION DE BASE
--------------------------- */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   }


/* ---------------------------
   BODY
--------------------------- */

body {
   font-family: Arial, sans-serif;
   /* Fond en dégradé de bleu / gris */
   background: linear-gradient(135deg, #6ea0d4 0vw, #dce6ef 100vw);
   background-attachment: fixed;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #333;
   }



p {
   margin-bottom: 1rem;
   }
   
/* ---------------------------
   TITRE
--------------------------- */
h1 {
   text-align: center;
   margin-bottom: 1.5rem;
   margin-left: 0.5rem;
   margin-right: 0.5rem;
   color: #05062b;
   font-weight: 400;
   font-size: 1.5rem;
   }

   h2 {  
   text-align: left;
   margin-left: 1rem;
   margin-bottom: 1.5rem;
   color: #05062b;
   font-weight: 400;
   font-size: 1.2rem;
   }


/* ---------------------------
   FIELDSET
--------------------------- */

fieldset {
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 1rem;
   margin-bottom: 1rem;
   margin-top: 1rem;
   margin-right: 1rem;
   margin-left: 1rem;
   }

/* ---------------------------
   FORMULAIRE
--------------------------- */



/* ---------------------------
   CONTENEUR
--------------------------- */

/* Conteneur principal */
.container-1 {
   display: flex;
   flex-wrap: wrap; /* Permet de retourner à la ligne si nécessaire */
   justify-content: left; /* Centre les éléments horizontalement */
   align-items: top; /* Centre les éléments verticalement */
   gap: 15px; /* Espacement entre les éléments */
}

.container-2 {
   display: flex;
   flex-wrap: wrap; /*Permet de retourner à la ligne si nécessaire*/
   max-width: 75vw; /* Taille fixe pour la largeur */
}


.container-2-1 {
   width: 20vw; /* Taille fixe pour la largeur */
   max-width: 100px;
   min-width: 100px;
}


.container-2-2 {
   width: 50vw; /* Taille fixe pour la largeur */
   max-width: 500px;
   min-width: 150px;
}

.container-2-3 {
   width: 20vw; /* Taille fixe pour la largeur */
   max-width: 250px;
   min-width: 200px;
}


.container-2-4 {
   width: 30vw; /* Taille fixe pour la largeur */
   max-width: 350px;
   min-width: 300px;
}

.container-3 {
   display: flex;
   flex-wrap: wrap; /* Permet de retourner à la ligne si nécessaire */
   justify-content: center; /* Centre les éléments horizontalement */
   align-items: center; /* Centre les éléments verticalement */
   /* gap: 15px; Espacement entre les éléments */
   column-gap: 10px;
   margin-top: 0.5rem;
}

.container-4 {
   display: flex;
   flex-wrap: wrap; /* Permet de retourner à la ligne si nécessaire */
   min-width: 160px; /* Taille fixe pour la largeur */
   justify-content: left; /* Centre les éléments horizontalement */
   align-items: center; /* Centre les éléments verticalement */
   gap: 15px; /* Espacement entre les éléments */
}

.container-5 {
   position: relative;
   display: flex;
   justify-content: flex-end;
   
   margin-top: -20px;
   margin-right: -15px;
}

.container-5 button {
   position: absolute;
   top: 0;
   right: 0;
   padding: 10px 15px;
   background-color: #007bff;
   color: white;
   border: none;
   cursor: pointer;
   border-radius: 5px;
}

.container-5 button:hover {
   background-color: #0056b3;
}


.input-info-perso {
   width: 100%;
   max-width: 600px;
   min-width: 300px;
}

.input-info-frJudo {
   width: 100%;
   max-width: 350px;
   min-width: 300px;
}

.btn-config-cours {
margin-top: 30px;
width: clamp(250px, 20vw, 270px);
}

.ctn-config-cours {
   width : calc(clamp(100px, 94vw, 650px) - clamp(250px, 20vw, 270px));
   /* width: calc(650px - clamp(100px, 20vw, 270px)); */
}