{% if current_user.is_authenticated %}

    <!-- Barre de navigation -->
    <div class="navbar">
        <!-- Bouton de retour -->
        {% if request.endpoint != 'main.index' %}
            <button class="btn-left" onclick="history.back()">← Retour</button>
        {% endif %}

        <!-- Bouton menu -->
        <button class="btn-right" id="menuButton">Menu</button>

    </div>

    <!-- Contenu du menu -->
    <ul id="menu">
        <li><a href="{{ url_for('main.index') }}">Accueil</a></li>
        <li><a href="{{ url_for('main.mon_profil') }}">Mon Profil</a></li>
        <li><a href="{{ url_for('main.configuration_cours') }}">Configuration des Cours</a></li>
        <li><a href="{{ url_for('main.menu_correction_appel') }}">Correction d'un appel</a></li>
        <li><br/></li>
        <li><a href="{{ url_for('auth.logout') }}">Déconnexion</a></li>
    </ul>

    <script>
        // Références des éléments
        const menuButton = document.getElementById('menuButton');
        const menu = document.getElementById('menu');

        // Gestionnaire de clic
        menuButton.addEventListener('click', () => {
            if (menu.style.display === 'none' || menu.style.display === '') {
                menu.style.display = 'block'; // Afficher le menu
                menuButton.textContent = 'Fermer le Menu'; // Changer le texte du bouton
            } else {
                menu.style.display = 'none'; // Cacher le menu
                menuButton.textContent = 'Menu'; // Revenir au texte initial
            }
        });
    </script>

{% else %}

    <div class="navbar">
        <a href="{{ url_for('auth.login') }}"><button class="btn-con" >Connexion</button></a>
        <a href="{{ url_for('auth.register') }}"><button class="btn-enr" >Enregistrement</button></a>
    </div>

{% endif %}