{% extends 'base.html' %}
{% block title %}Mon profil{% endblock %}
{% block content %}

<div class="form-container">
    <div class="image-container">
        <img src="static/images/user-icon.png" alt="User Icon">
    </div>


    <h2>Profil de {{ current_user.prenom }}</h2>
    <fieldset>
        <legend>Informations personnelles</legend>
        <form>
            <div class="container-1">
                <div class="container-1">
                    <div class="container-2">
                        <div class="container-2-1">
                            <label for="nom">Nom</label>
                        </div>
                        <div class="container-2-2">
                            <input type="text" id="nom"  class="input-info-perso" value="{{ current_user.nom }}" >
                        </div>
                    </div>
                </div>
                <div class="container-1">
                    <div class="container-2">
                        <div class="container-2-1">
                            <label for="prenom">Prénom</label>
                        </div>
                        <div class="container-2-2">
                            <input type="text" id="prenom" class="input-info-perso" value="{{ current_user.prenom }}" >
                        </div>
                    </div>
                </div>
                <div class="container-1">
                    <div class="container-2">
                        <div class="container-2-1">
                            <label for="email">Email</label>
                        </div>
                        <div class="container-2-2">
                            <input type="email" id="email" class="input-info-perso" value="{{ current_user.email }}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-3">
                <button type="submit" style="width:250px;">Enregistrer les modifications</button>

                <button type="submit" style="width:250px;">Réinitialisation password</button>
            </div>  

        </form>
    </fieldset>


    <fieldset>
        <legend>Mes cours</legend>

        <form id="update-user-cours-form" method="POST">
            <div class="container-1">

                <div id="category-div" class="container-1"></div>
                
            </div>

                <div class="container-3">
                    <input type="hidden" id="id_user" value="{{ current_user.id }}">
                    <button type="submit">Enregistrer les modifications</button>
                </div>

        </form>
        
    </fieldset>



    <fieldset>
        <legend>Connexion France Judo</legend>
        <form>

            <div class="container-1">
                <div class="container-2">
                    <div class="container-2-3">
                        <label for="francejudo_id">Identifiant France Judo</label>
                    </div>
                    <div class="container-2-4">
                        <input id="francejudo_id" type="text" class="input-info-frJudo" value="{{ current_user.francejudo_id }}" disabled>
                    </div>
                </div>
            </div>

            <br/>
            
            <div class="container-1">
                <div class="container-2">
                    <div class="container-2-3">
                        <label for="francejudo_pwd">Mot de passe France Judo</label>
                    </div>
                    <div class="container-2-4">
                        <input id="francejudo_pwd" type="password" class="input-info-frJudo" value="{{ current_user.francejudo_pwd }}" disabled>
                    </div>
                </div>
            </div>

            <div class="container-1">

                <button type="submit">Enregistrer les modifications</button>
            </div>
        </form>
    </fieldset>


    <fieldset>
        <legend>Supprimer mon compte</legend>

        <form>
            <p>Attention, cette action est irréversible. Vous perdrez 
                l'accès à votre compte et à toutes les informations vous 
                concernant.</p>

                <div class="container-1">
                    <label for="delete-input">Saisir : supp_{{ current_user.prenom }}</label>
                    <input id="delete-input" type="text">
                    <button type="submit">Supprimer mon compte</button>
                </div>

        </form>
    </fieldset>

</div>

<script>

    // Charge les catégories puis coche celles qui sont liées au cours
    fetch('/api/getListCours')
        .then(response => response.json())
        .then(data => {
            data.forEach(cours => {
                const line = document.createElement('div');
                line.className = 'cours-line';
                line.innerHTML = `
                    <div class="container-4">
                        <input type="checkbox" id="cours${cours.id}" name="cours${cours.id}" value="${cours.id}">
                        <label for="cours${cours.id}">${cours.nom_cours}</label>
                    </div>
                `;
                document.getElementById('category-div').appendChild(line);
            });

            // Une fois les cases à cocher ajoutées, cochez celles associées au cours
            return fetch('/api/getCoursFromUser');
        })
        .then(response => response.json())
        .then(data => {
            data.forEach(cours => {
                const checkbox = document.getElementById('cours' + cours.id_cours);

                if (checkbox) {
                    checkbox.checked = true;
                } else {
                    console.warn(`La case à cocher avec l'ID 'cours${cours.id_cours}' est introuvable.`);
                }
            });
        })
        .catch(error => console.error('Erreur lors du chargement des catégories ou des données de cours :', error));



    // Fonction pour envoyer les données de mise à jour au backend
    function updateCoursUser(event) {
        event.preventDefault(); // Empêche le rechargement de la page lors de la soumission du formulaire

        // Récupération des valeurs du formulaire
        const idUser = document.getElementById('id_user').value;
        const coursUser = Array.from(document.querySelectorAll('#category-div input[type="checkbox"]:checked'))
            .map(c => c.value); // Récupère les ID des cours cochées


        if (coursUser.length === 0) {
            alert('Veuillez sélectionner au moins un cours.');
            return;
        }

        // Création de l'objet à envoyer
        const data = {
            id_user: idUser,
            coursUser: coursUser
        };

        // Envoi de la requête PUT pour mettre à jour le cours
        fetch(`/api/updateCoursUser/${idUser}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(result => {
                if (result.error) {
                    alert(`Erreur : ${result.error}`);
                } else {
                    window.location.href = '/mon_profil';
                }
            })
            .catch(error => console.error('Erreur lors de la mise à jour du profil/Mes cours :', error));
    }


    // Ajout du gestionnaire d'événement au formulaire
    document.getElementById('update-user-cours-form').addEventListener('submit', updateCoursUser); 

</script>
{% endblock %}