{% extends 'base.html' %}
{% block title %}Statistiques{% endblock %}
{% block content %}


<div class="form-container">
    <div class="image-container">
        <img src="static/images/user-icon.png" alt="User Icon">
    </div>

    <h1>Statistiques</h1>


    <img style = "max-width:80vw; width: 600px;" src="{{ pieChart }}" alt="Graphique ratio des présence générale" />
    <img style = "max-width:80vw; width: 600px;" src="{{ barChart }}" alt="Graphique ratio des présence par cours" />
    <br/>
    <img style = "max-width:80vw; width: 1200px;" src="{{ HeatMap }}" alt="Graphique HeatMap" />
    
</div>



<a href="{{ url_for('Statistique_groupe') }}"><button>statistique groupe Perfectionnement</button></a>

{% endblock %}