{% extends 'base.html' %}
{% block title %}Menu Appel{% endblock %}
{% block content %}

<div class="form-container">
    <div class="image-container">
        <img src="static/images/user-icon.png" alt="User Icon">
    </div>

    <h1>Choix du cours</h1>

    <form action="{{ url_for('menu_correction_appel') }}" method="post">
        <button type="button">Correction du dernier appel</button>
    </form>

    {% for cours_item in cours %}

        <form action="{{ url_for('appel_encours') }}" method="post">
            <input type="hidden" name="nom_cours" value="{{ cours_item.nom_cours }}">
            <input type="hidden" name="id_cours" value="{{ cours_item.id }}">
            <button type="submit">{{ cours_item.nom_cours }}</button>
        </form>

    {% endfor %}

</div>

{% endblock %}

