{% extends 'base.html' %}
{% block title %}Menu Appel{% endblock %}
{% block content %}

<div class="form-container">
    <div class="image-container">
        <img src="static/images/user-icon.png" alt="User Icon">
    </div>

    <h1>Choix du cours</h1>

    {% for cours_item in cours %}

        <form id="form-{{ cours_item.id }}" action="{{ url_for('appel_encours') }}" method="post">
            <input type="hidden" name="nom_cours" value="{{ cours_item.nom_cours }}">
            <input type="hidden" name="id_cours" value="{{ cours_item.id }}">
            <input type="hidden" id="id_appel-{{ cours_item.id }}" name="id_appel" value="{{ cours_item.id_appel }}">
            <button type="submit" id="button-{{ cours_item.id }}">{{ cours_item.nom_cours }}</button>
        </form>

    {% endfor %}

</div>

<script>
// Récupération des données

fetch('/api/checkAppelStatus')
        .then(response => response.json())
        .then(data => {
            data.forEach(item => {
                const form = document.getElementById(`form-${item.id}`);
                if (form) {
                    if (item.cours_today) {
                        form.action = "{{ url_for('correction_appel') }}";                    
                        const button = document.getElementById(`button-${item.id}`);
                        const idAppel = document.getElementById(`id_appel-${item.id}`);
                                
                        if (button) {
                                const lastAppelDate = item.last_appel ? new Date(item.last_appel) : null;
                                const formattedDate = lastAppelDate ? 
                                    `${lastAppelDate.getDate().toString().padStart(2, '0')}/${(lastAppelDate.getMonth() + 1).toString().padStart(2, '0')}/${lastAppelDate.getFullYear().toString().slice(-2)}` : 
                                    'No data';
                                button.textContent += ` - Correction (${formattedDate}) `;
                                console.log(formattedDate);
                            }

                        if (idAppel) {
                            idAppel.value = item.id_appel;
                        }
                    }
                    else {
                        form.action = "{{ url_for('appel_encours') }}";
                    }
                }
            });
        })
        .catch(error => console.error('Error fetching data:', error));
   
</script>

{% endblock %}

