{% extends 'base.html' %}
{% block title %}Accueil{% endblock %}
{% block content %}

<div class="form-container">
    <div class="image-container">
        <img src="static/images/user-icon.png" alt="User Icon">
    </div>

    <h1>Bienvenue {{ current_user.prenom }} </h1>

    <form method="POST">
    <a href="{{ url_for('appel_menu') }}"><button type="button">Faire un appel</button></a>
    <a href="{{ url_for('Statistique_generale') }}"><button type="button">Statistiques</button></a>
    </form>
    
</div>

{% endblock %}
