{% extends 'base.html' %}
{% block title %}Mon profil{% endblock %}
{% block content %}

<div class="form-container">
    <div class="image-container">
        <img src="static/images/user-icon.png" alt="User Icon">
    </div>


    <h2>Profil de {{ current_user.prenom }}</h2>
    <fieldset>
        <legend>Informations personnelles</legend>
        <form>
            <div class="container-1">
                <div class="container-1">
                    <div class="container-2">
                        Nom: 
                    </div>
                    <div class="container-2">
                        <input type="text" value="{{ current_user.nom }}" >
                    </div>
                </div>
                <div class="container-1">
                    <div class="container-2">
                        Prénom:
                    </div>
                    <div class="container-2"> 
                        <input type="text" value="{{ current_user.prenom }}" >
                    </div>
                </div>
                <div class="container-1">
                    <div class="container-2">
                        Email:  
                    </div>
                    <div class="container-2">
                        <input type="email" value="{{ current_user.email }}" >
                    </div>
                </div>
            </div>

                <div class="container-3">
                        <button type="submit">Enregistrer les modifications</button>
                </div>
                

            <div class="container-3">
                <button type="submit">Demande de réinitialisation du mot de passe</button>
            </div>  

        </form>
    </fieldset>


    <fieldset>
        <legend>Mes cours</legend>

        <form>
            <div class="container-1">

                <div class="container-1">
                    <div class="container-1">
                        <input type="checkbox" id="cours1" name="cours1" value="cours1">
                        <label for="cours1">Cours de Judo</label>
                    </div>
                    <div class="container-1">
                        <input type="checkbox" id="cours1" name="cours1" value="cours1">
                        <label for="cours1">Cours de Judo</label>
                    </div>
                    <div class="container-1">
                        <input type="checkbox" id="cours1" name="cours1" value="cours1">
                        <label for="cours1">Cours de Judo</label>
                    </div>
                    <div class="container-1">
                        <input type="checkbox" id="cours1" name="cours1" value="cours1">
                        <label for="cours1">Cours de Judo</label>
                    </div>
                </div>
                
            </div>

                <div class="container-3">
                    <button type="submit">Enregistrer les modifications</button>
                </div>
                
        </form>
        
    </fieldset>



    <fieldset>
        <legend>Connexion France Judo</legend>
        <form>
            <div class="container-1">
                <label for="francejudo_id">Identifiant France Judo</label>
                <input id="francejudo_id" type="text" value="{{ current_user.francejudo_id }}" disabled>

                <label for="francejudo_pwd">Mot de passe France Judo</label>
                <input id="francejudo_pwd" type="password" value="{{ current_user.francejudo_pwd }}" disabled>

                <button type="submit">Enregistrer les modifications</button>
            </div>
        </form>
    </fieldset>


    <fieldset>
        <legend>Supprimer mon compte</legend>

        <form>
            <p>Attention, cette action est irréversible. Vous perdrez 
                l'accès à votre compte et à toutes les informations vous 
                concernant.</p>

                <div class="container-1">
                    <label for="delete-input">Saisir : supp_{{ current_user.prenom }}</label>
                    <input id="delete-input" type="text">
                    <button type="submit">Supprimer mon compte</button>
                </div>

        </form>
    </fieldset>

</div>

{% endblock %}