{% extends 'base.html' %}
{% block title %}Mon profil{% endblock %}
{% block content %}
<h2>Profil de {{ current_user.prenom }}</h2>
<fieldset>
    <legend>Informations personnelles</legend>

    <table>
        <body>
        <tr>
            <td>Nom: </td>
            <td><input type="text" value="{{ current_user.nom }}" ></td>
        </tr>
        <tr>
            <td>Prénom: </td>
            <td><input type="text" value="{{ current_user.prenom }}" ></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="email" value="{{ current_user.email }}" ></td>
        </tr>
        <tr>
            <td colspan = 2><button>Enregistrer les modifications</button></td>
        </tr>
        <tr>
            <td colspan = 2><br/></td>
        </tr>
        <tr>
            <td colspan = 2><button>Demande de réinitialisation du mot de passe</button></td>
        </tr>
    </body>
</table>

</fieldset>

<br/>

<fieldset>
    <legend>Connexion France Judo</legend>

    <button>Modifier</button>
    <button>Enregistrer les modifications</button>

    <table>
        <tbody>
            <tr>
                <td>Identifiant France Judo :</td>
                <td><input type="text" value="{{ current_user.francejudo_id }}" disabled></td>
            </tr>
            <tr>
                <td>Mot de passe France Judo:</td>
                <td><input type="password" value="{{ current_user.francejudo_pwd }}" disabled></td>
            </tr>
        </tbody>
    </table>
     
</fieldset>

<br/>

<fieldset>
    <legend>Mes cours</legend>
    + Ajout cours

    <table>
        <tbody>
            <tr>
                <td>Cours 1</td>
                <td></td>
            </tr>
            <tr>
                <td>Cours 2</td>
                <td></td>
            </tr>
            <tr>
                <td>Cours 3</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    
</fieldset>

<br/>

<fieldset>
    <legend>Supprimer mon compte</legend>
    <p>Attention, cette action est irréversible. Vous perdrez 
        l'accès à votre compte et à toutes les informations vous 
        concernant.</p>

    <table>
        <tbody>
            <tr>
                <td>
                    Saisir : supp_{{ current_user.prenom}}
                </td>
            </tr>
            <tr>
                <td><input type="text"></td>
                <td><button>Supprimer mon compte</button></td>
            </tr>
        </tbody>
    </table>
    

</fieldset>


{% endblock %}